.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-width: 36rem;
    min-height: 55rem; 
    max-width: 100%;
    background: #EAF2FD;
 
   
}

.footer .icono{
    margin: 0 auto;
    margin-top: .8rem;
}

.footer .icono img{
    width: 17.6rem;
    min-height: 5rem;
    
   
}

.footer__secciones{
    display: flex;
    flex-direction: column;
      
}

.secciones__links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 176px;
    height: 234px;
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
}

.footer__secciones a{
    text-decoration: none;
    color: #464646;    
    width: 176px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font: 1.6rem;
    line-height: 19px;
}

.footer__secciones a:hover{
    color: #2A7AE4;
    cursor: pointer;
}




/* Pie con marca------------------------------------------------------------------------------------------------------------*/

.footer__marca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 10px;
    width: 100%;
    height: 102px;
    background: #FFFFFF;
    overflow: hidden;
}

.footer__marca p{
    width: 229px;
    height: 38px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 19px;
    text-align: center;
    
}

@media (min-width: 768px) {
    .footer{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; 
        min-width: 36rem;
        min-height: 36.4rem; 
        max-width: 100%;
        background: #EAF2FD;
     
       
    }
    
    .footer .icono{
       
        margin: 0 auto;
        margin-top: 3rem;
        
        
    }
    
    .footer .icono img{
        width: 17.6rem;
        min-height: 5rem;
        
       
    }
    
    .footer__secciones{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
        gap: 24px;
        width: 176px;
        height: 234px;
        text-align: center;
        margin-bottom: 2.5rem;
        margin-top: 0;
        font-size: 1.6rem;
        
    
        
    }
    
    .footer__secciones a{
        text-decoration: none;
        color: #464646;    
        width: 176px;
        height: 19px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font: 1.6rem;
        line-height: 19px;
    }
    
    .footer__secciones a:hover{
        color: #2A7AE4;
        cursor: pointer;
    }
    
    
    
    
    /* Pie con marca------------------------------------------------------------------------------------------------------------*/
    
    .footer__marca{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 32px;
        gap: 10px;
        width: 100%;
        height: 102px;
        background: #FFFFFF;
        overflow: hidden;
    }
    
    .footer__marca p{
        width: 229px;
        height: 38px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 19px;
        text-align: center;
        
    }
    
    
}

/*--------------------------------------------------------------------------------------------*/

@media (min-width: 768px) {
    .footer{
        position: relative;
        display: flex;
        flex-direction: row;
       
        align-items: center; 
        min-width: 36rem;
        min-height: 36.4rem; 
        max-width: 100%;
        background: #EAF2FD;
     
       
    }
    
    .footer .icono{
       
        margin: 0 auto;
        margin-top: 3rem;
        
        
    }
    
    .footer .icono img{
        width: 17.6rem;
        min-height: 5rem;
        
       
    }
    
    .footer__secciones{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0px;
        gap: 24px;
        width: 176px;
        height: 234px;
        text-align: center;
        margin-bottom: 2.5rem;
        margin-top: 0;
        font-size: 1.6rem;
        
    
        
    }
    
    .footer__secciones a{
        text-decoration: none;
        color: #464646;    
        width: 176px;
        height: 19px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font: 1.6rem;
        line-height: 19px;
    }
    
    .footer__secciones a:hover{
        color: #2A7AE4;
        cursor: pointer;
    }
    
    
    
    
    /* Pie con marca------------------------------------------------------------------------------------------------------------*/
    
    .footer__marca{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 32px;
        gap: 10px;
        width: 100%;
        height: 102px;
        background: #FFFFFF;
        overflow: hidden;
    }
    
    .footer__marca p{
        width: 229px;
        height: 38px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 19px;
        text-align: center;
        
    }
    
    
}