.banner{
    background-image: url("/./imagenes/banner.jpg");
    height: 18.4rem;
    width: 100%;
    background-position:center;
    background-size: cover;
}

.banner__contenido{
    margin-top: 5.5rem;
    margin-left: 2rem;
}

.banner .banner__titulo{
 
    width: 31.2rem;
    height: 2.6rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 70rem;
    font-size: 2.2rem;
    line-height: 2.6rem;
    color: #FFFFFF;

}

.banner .banner__descripcion{
    width: 31.2rem;
    height: 1.6rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #FFFFFF;

}

.banner .banner__consolas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 118px;
    height: 40px;
    background: #2A7AE4;
    color: #FFFFFF;
    border: none;
    margin-top: 2rem;
}


@media (min-width: 768px) {
    .banner{
        background-image: url("/./imagenes/banner.jpg");
        height: 35.2rem;
        background-position:center;
        background-size: cover;
    }
    
    .banner__contenido{
        margin-top: 16.1rem;
        margin-left: 2rem;
    }
    
    .banner .banner__titulo{
        width: fit-content;
        height: 26px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 5.2rem;
        line-height: 26px;
        color: #FFFFFF;
    
    }
    
    .banner .banner__descripcion{
        width: fit-content;
        height: 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 16px;
        color: #FFFFFF;
    }
    
    .banner .banner__consolas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        gap: 10px;
        width: 118px;
        height: 40px;
        background: #2A7AE4;
        color: #FFFFFF;
        border: none;
    }
}


/*-----------------------------------------------------------------------------------------------------*/

@media (min-width: 1140px) {
    .banner{
        background-image: url("/./imagenes/banner.jpg");
        height: 35.2rem;
        background-position:center;
        background-size: cover;
    }
    
    .banner__contenido{
        margin-top: 16.1rem;
        margin-left: 15.2rem;
    }
    
    .banner .banner__titulo{
        width: fit-content;
        height: 26px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 5.2rem;
        line-height: 26px;
        color: #FFFFFF;
    
    }
    
    .banner .banner__descripcion{
        width: fit-content;
        height: 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 16px;
        color: #FFFFFF;
    }
    
    .banner .banner__consolas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        gap: 10px;
        width: 12.9rem;
        height: 5.1rem;
        background: #2A7AE4;
        color: #FFFFFF;
        border: none;
    }
}