
.encabezado__login{
    display: flex;
    flex-direction: row;
    width: 15rem;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
    order:2;
}

.ulogin__btn,
.admlogin__btn{
    min-Width:7rem;
    min-Height:3rem;
    max-width: 100%;

    font-size: .7;  
    padding: .2rem;   
    border: 1px solid #2A7AE4;
    color:#2A7AE4;    
    margin: .8rem;
    cursor: pointer;
    margin: 1rem;
    
    
}

.ulogin__btn:hover,.admlogin__btn:hover{
    background-color: #dae7f8;

}

.popup{
    position: absolute;
    top: -150%;
    right: -16rem;   
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 38rem;
    padding: 2rem 3rem;
    background-color: #ffffff;
    box-shadow: .2rem .2rem .5rem .5rem rgba(0,0,0,0.15);
    border-radius: 1rem;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup.active{
    top:20rem;
    margin: 0 auto;    
    
    opacity: 1;
    max-width: 90%;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup .close-btn{
    position: absolute;
    top:1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: #888;
    color: #EEE;
    text-align: center;
    line-height: 2.8rem;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 3rem;
}

.popup .form h2{
    text-align: center;
    color: #222;
    margin: 1rem 0rem 2rem;
    font-size: 2.5rem;
}

.popup .form .form-element{
    margin: 1.5rem 0rem;
}

.popup .form .form-element label{
    font-size: 1.4rem;
    color: #222;
    text-align: left;
    
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"]{
    margin-top: .5rem;
    display: block;
    width: 100%;
    padding: 1rem;
    outline: none ;
    border: .1rem solid #aaa;
    border-radius: .5rem;
}


.popup .form .form-element button{
    width: 100%;
    height: 4rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: #1A79CA;
    color: #f5f5f5;
    border-radius: 1rem;
    cursor: pointer;
}

.popup .form .form-element a{
    display: block;
    text-align: right;
    font-size: 1.5rem;
    color: #1A79CA;
    text-decoration: none;
    font-weight: 600;
}


/*-------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 768px) {
    
.encabezado__login{
    display: flex;
    flex-direction: row;
    width: 15rem;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
    order:2;
    margin-right: 8rem;
    position: unset;
}

.ulogin__btn,
.admlogin__btn{
    min-Width:12rem;
    min-Height:4.5rem;
    max-width: 100%;

    font-size: .7;  
    padding: .2rem;   
    border: 1px solid #2A7AE4;
    color:#2A7AE4;    
    margin: .8rem;
    cursor: pointer;
    margin: 1rem;
   
    
    
}

.ulogin__btn:hover,.admlogin__btn:hover{
    background-color: #dae7f8;

}

.popup{
    position: absolute;
    top: -150%;
    right: -16rem;   
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 38rem;
    padding: 2rem 3rem;
    background-color: #ffffff;
    box-shadow: .2rem .2rem .5rem .5rem rgba(0,0,0,0.15);
    border-radius: 1rem;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup.active{
    top:20rem;
    margin: 0 auto;    
    
    opacity: 1;
    max-width: 90%;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup .close-btn{
    position: absolute;
    top:1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: #888;
    color: #EEE;
    text-align: center;
    line-height: 2.8rem;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 3rem;
}

.popup .form h2{
    text-align: center;
    color: #222;
    margin: 1rem 0rem 2rem;
    font-size: 2.5rem;
}

.popup .form .form-element{
    margin: 1.5rem 0rem;
}

.popup .form .form-element label{
    font-size: 1.4rem;
    color: #222;
    text-align: left;
    
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"]{
    margin-top: .5rem;
    display: block;
    width: 100%;
    padding: 1rem;
    outline: none ;
    border: .1rem solid #aaa;
    border-radius: .5rem;
}


.popup .form .form-element button{
    width: 100%;
    height: 4rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: #1A79CA;
    color: #f5f5f5;
    border-radius: 1rem;
    cursor: pointer;
}

.popup .form .form-element a{
    display: block;
    text-align: right;
    font-size: 1.5rem;
    color: #1A79CA;
    text-decoration: none;
    font-weight: 600;
}
}

